<launch>
    <!-- note this only launches with a gazebo world already running -->
    <arg name="x_pos" default="1.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="param_folder" default="human" />
    <arg name="move_forward_only" default="true"/>
    <arg name="multi_bot" default="single_human" />

    <!-- setup move_base transforms make sure to offset by start position or else it kills tf -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_$(arg multi_bot)_odom" args="$(arg x_pos) $(arg y_pos) $(arg z_pos) 0 0 0 /map /$(arg multi_bot)/odom  100" />


    <!-- load robot description -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sdpp_human_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

    <!-- spawn urdf model  change spawn name-->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_$(arg multi_bot)"  args="-urdf -model $(arg multi_bot) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="$(arg multi_bot)"/>
        <!-- FU ros! mapping from absolute namespacing to relative namespacing -->
        <remap from="/joint_states" to="joint_states"/>
    </node>

    <!-- move base -->
    <!-- Arguments -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <rosparam file="$(find sdpp_bringup)/param/$(arg param_folder)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sdpp_bringup)/param/$(arg param_folder)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find sdpp_bringup)/param/$(arg param_folder)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sdpp_bringup)/param/$(arg param_folder)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sdpp_bringup)/param/$(arg param_folder)/move_base_params.yaml" command="load" />
        <rosparam file="$(find sdpp_bringup)/param/$(arg param_folder)/dwa_local_planner_params.yaml" command="load" />
        <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />

        <!-- where to find static map, override namespacing -->
        <remap from="/$(arg multi_bot)/map" to="/map"/>

        <!--multi agent remapping -->
        <param name="local_costmap/robot_base_frame" type="str" value="$(arg multi_bot)/base_link" />
        <param name="global_costmap/robot_base_frame" type="str" value="$(arg multi_bot)/base_link" />
    </node>
</launch>
