<launch>

    <arg name="open_rviz" value="false"/>
    <arg name="map_file" default="$(find sdpp_gazebo)/config/maps/block_room.yaml" />
    <arg name="world" default="$(find sdpp_gazebo)/worlds/sdpp_base.world"/>
    <arg name="agent_0" value="false" />
    <arg name="agent_1" value="true" />

    <!-- dummy global map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world)"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>

    <group ns="human_0" if="$(arg agent_0)">
        <include file="$(find sdpp_bringup)/launch/human_multi.launch">
            <arg name="multi_bot" value="human_0"/>

        </include>
    </group>

    <group ns="human_sdpp" if="$(arg agent_1)">
        <include file="$(find sdpp_bringup)/launch/human_multi.launch">
            <arg name="multi_bot" value="human_sdpp"/>
            <arg name="x_pos" value="4.0"/>
            <arg name="y_pos" value="4.0"/>
            <arg name="param_folder" value="human_sdpp" />

        </include>
    </group>


     <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find sdpp_human_navigation)/rviz/human_0.rviz"/>
    </group>

</launch>