

<launch>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="world" default="$(find sdpp_gazebo)/worlds/sdpp_base.world"/>
  <arg name="launch_gazebo" default="false" />
  <arg name="map_file" default="$(find sdpp_human_navigation)/config/blank_map.yaml" />

  <env name="TURTLEBOT3_MODEL" value="waffle_pi" />

  <group if="$(arg launch_gazebo)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world)"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>
  </group>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sdpp_human_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- spawn urdf model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model human_agent -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <!-- dummy global map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--fake nav launch -->
  <node pkg="sdpp_human_navigation" type="timed_roslaunch"
          args="10 roslaunch sdpp_human_navigation fake_nav.launch"
          name="init_nav" output="screen"/>

</launch>